*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body{
    width: 100vw;
    height: 100vh;
    background-color: #2f3542;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container{
    display: grid;
    grid-template-columns: repeat(3,auto);
  }
  .box{
    width: 100px;
    height: 100px;
    border: 2px solid palevioletred;
    box-shadow: 0 0 0 2px palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  #status{
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
  }
  button{
    width: 150px;
    color: white;
    border: none;
    font-size: 18px;
    background-image: linear-gradient(to right,#D84D9E,#c3207f );;
  }
  .win{
    animation: winAnimation ease-in-out 1s infinite;
}

@keyframes winAnimation {
  0%{background-color: #2c3a47;}
  100%{background-color: #130f40;}
  
}